@model Pizza

@{
    ViewData["Title"] = "Pizza Detalhes";
}

<div class="row">
    <div class="col-md-8">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Nome
                                <a class="text-white float-right" asp-action="Atualizar" asp-route-id="@Model.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.Nome">
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        <p class="card-text">
                            <b>Tamanho: </b> <a>@Model.Tamanho.Nome</a>

                        </p>
                        @foreach (var pizzaSabor in Model.PizzasSabores)
                        {
                            <p class="card-text" asp-route><b>Sabor: </b>@pizzaSabor.Sabor.Nome</p>
                        }

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Lista de Pizzas
                            </a>
                        <p class="card-text">
                            <b>Preço: </b> <a>@Model.Preco</a>

                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>