@model PizzariaMVC.Models.Sabor

<div class="row align-items-center">
    <div class="col-md-8 offset-md-4">
        <div class="col-md-6">
            <h1>@Model.Nome</h1>
        </div>
        <div class="col-md-6">
            <img class="img-thumbnail" src="@Model.ImageURL" />
        </div>


        <br />
        <h3>Pizzas Relacionadas</h3>


        @if (@Model.PizzasSabores.Count > 0)
        {
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide col-md-6 " data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var saborPizza in @Model.PizzasSabores)
                        {
                            if (saborPizza == @Model.PizzasSabores.First())
                            {
                                <div class="carousel-item active">
                                    <a asp-controller="Pizzas" asp-action="Detalhes" asp-route-id="@saborPizza.PizzaId">
                                        <img src="@saborPizza.Pizza.ImageURL" class="d-block w-100">
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <a asp-controller="Filmes" asp-action="Detalhes" asp-route-id="@saborPizza.PizzaId">
                                        <img src="@saborPizza.Pizza.ImageURL" class="d-block w-100">
                                    </a>
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>

            </div>
            <br />
            <a class="btn btn-outline-secondary" asp-action="Index">Listar Sabores</a>
        }
        else
        {
            <h1>Sem Sabores cadastrados para @Model.Nome</h1>
            <a class="btn btn-success" asp-action="Atualizar">
                <i class="fa-solid fa-pen-to-square"></i>
                Editar
            </a>
        }
    </div>
</div>